.sidebar {
    width: 244px;
    min-height: calc(100vh - 70px);
    background: #191c24;
    font-weight: normal;
    padding: 0;
}

.sidebar__brandWrapper {
    width: 244px;
    height: 70px;
    display: flex;
    align-items: center;
    background: #191c24;
    transition: width 0.25s ease, background 0.25s ease;
}

.sidebar__brand {
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 0 0 0 1.3rem;
    margin-right: 0;
}

.sidebar__nav {
    display: flex;
    list-style: none;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 60px;
}

.sidebar__navItem {
    padding-right: 20px;
}

.sidebar__navItem:hover .sidebar__navLink {
    background: #0f1015;
    color: #ffffff;
}

.sidebar__navCategory {
    line-height: 1;
    padding: 0.5rem 1.188rem;
}

.sidebar__navLink {
    height: 46px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #6c7293;
    border-radius: 0 100px 100px 0;
    transition-duration: 0.45s;
    transition-property: color;
    padding: 0.8rem 10px 0.8rem 1.188rem;
}


.sidebar__navItem .sidebar__navLink.active {
    position: relative;
    background: #0f1015;
}

.sidebar__navItem .sidebar__navLink.active:before {
    content: "";
    width: 3px;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: #0090e7;
}

.sidebar__navLink.active .sidebar__menuTitle {
    color: #ffffff;
}

.sidebar__navCategory .sidebar__navLink {
    height: auto;
    color: #6c7293;
    font-weight: 500;
    font-size: 14px;
    padding-left: 0;
}

.sidebar__menuIcon {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 0.8125rem;
    line-height: 1;
    background: rgba(108, 114, 147, 0.2);
    border-radius: 100%;
    margin-right: 0.5rem;
}

.sidebar__menuTitle {
    display: inline-block;
    color: inherit;
    font-size: 0.9375rem;
    line-height: 1;
    vertical-align: middle;
}

.sidebar__menuIcon i {
    font-size: 0.875rem;
}

.mdi:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mdiAccount::before {
    content: "\F004";
    color: #8f5fe8;
}

.mdiCommentOutline::before {
    content: "\F182";
    color: #ffab00;
}

.mdiWindowMaximize::before {
    content: "\F5AF";
    color: #fc424a;
}

.mdiMusicNote::before {
    content: "\F387";
    color: #0090e7;
}

.mdiSettings::before {
    content: "\F493";
    color: #00d25b;
}
