@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

/* for mdn (material design icons) */

@font-face {
    font-family: "Material Design Icons";
    src: url("./fonts/mdi/materialdesignicons-webfont.eot?v=3.9.97");
    src: url("./fonts/mdi/materialdesignicons-webfont.eot?#iefix&v=3.9.97") format("embedded-opentype"), url("./fonts/mdi/materialdesignicons-webfont.woff2?v=3.9.97") format("woff2"), url("./fonts/mdi/materialdesignicons-webfont.woff?v=3.9.97") format("woff"), url("./fonts/mdi/materialdesignicons-webfont.ttf?v=3.9.97") format("truetype");
    font-weight: normal;
    font-style: normal
}


.mdi:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/* app */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    font-family: "Rubik", sans-serif;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.app {
    display: flex;
    position: relative;
}

.pageBody {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - 244px);
    margin-right: auto;
    margin-left: auto;
}




