.dialogs {
    padding: 20px;
    width: 100%;
    display: flex;
}

.dialogsBody {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #191c24;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1.75rem 1.5625rem;
}

.search {
    display: flex;
}

.searchInput {
    display: block;
    width: 100%;
    line-height: 1;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #2c2e33;
    height: calc(2.25rem + 2px);
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.625rem 0.6875rem;
    border-radius: 2px;
    color: #ffffff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: transparent;
    cursor: pointer;
}

.searchButton {
    width: 40px;
    position: relative;
    font-size: 0.9375rem;
    line-height: 1;
    font-weight: normal;
    margin-left: 0.5rem;
    border: 1px solid #191c24;
}

.mdi:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mdiAccountSearch::before {
    content: "\F016";
    font-size: 20px;
    color: #ffffff;
}

.mdiAccountSearch {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: auto;
}

.recipients {
    margin-top: 20px;
}

.recipients__nav {
    display: flex;
    align-content: center;
}

.recipients__navItem {
    width: calc(50% - 5px);
}

.recipients__navItem:nth-child(1) {
    margin-right: 10px;
}

.recipients__button {
    width: 100%;
    position: relative;
    line-height: 20px;
    padding-left: 20px;
}

.recipients__button i {
    position: absolute;
    top: 0;
    left: -25px;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    margin-left: 0;
}

.recipients__button span {
    position: relative;
    margin-left: 10px;
}

.mdiAccountMultiple::before {
    content: "\F00E";
    font-size: 20px;
}

.mdiAccount::before {
    content: "\F004";
    font-size: 20px;
}
